export ENV=dev
export CRYPTO_TICKERS="BTC,ETH"
export GEMINI_API_KEY=
export GEMINI_API_SECRET=
export DAILY_FIAT_AMOUNTS='{"BTC":1,"ETH":2}'
export ORDER_PRICE_TO_BID_PRICE_RATIO=0.9999
export GOOGLE_SHEET_ID=
export GOOGLE_SERVICE_ACCOUNT_EMAIL=
export GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
export GOOGLE_SHEET_NAME=
export START_ROWS='{"BTC":1,"ETH":2}'
export COLUMN_RANGES='{"BTC":"E:H","ETH":"I:L"}'
export START_DATE=01/11/2024
export DB_USERNAME=
export DB_PASSWORD=
export DB_NAME=
export DB_HOST=
export DB_API_URL=
export DB_API_KEY=
export SENTRY_DSN=
PGSSLMODE=no-verify # for deployment to Heroku without SSL connection to postgres